<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="Carti" value="C://Users//rafxg//OneDrive//Documents//FreeBook-master//Resurse//carti.txt"/>
    <add key ="Utilizatori" value="C://Users//rafxg//OneDrive//Documents//FreeBook-master//Resurse//utilizatori.txt"/>
    <add key ="Imprumuturi" value="C://Users//rafxg//OneDrive//Documents//FreeBook-master//Resurse//imprumuturi.txt"/>  
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="ConnectionString"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
                        AttachDbFilename=C:\Users\rafxg\OneDrive\Documents\FreeBook-master\Database1.mdf;
                        Integrated Security=True" />
  </connectionStrings>
</configuration>